:root {
    --logoColor: #ff41a1;
    --logo2Color: #8304df;


}

* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    background-image: url("double-bubble-outline.png");
}

.logo img {
    width: 75%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    margin:0 50px 0 25px ;

}

.nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 12px;
    position: relative;
    font-size: 20px;
    cursor: pointer;
}



.nav ul li::after {
    content: '';
	width:0%;
	height: 2px;
	background: var(--logoColor);
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav ul li:hover::after {
    width: 100%;
}

.front {
    display: flex;
    justify-content: space-between;
    padding-top: 40px ;
    min-height: 100vh;
}


.main {
    padding-top: 100px;
    font-family: monospace;
    font-size: 90px;
}


.main-text {
    margin-left: 100px;
}


.main-text p {
    font-size: 20px;
}

.reg  {
    padding: 10px;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(to right, #ff41a1, #ee1fad, #d600bc, #b400cd, #8304df);
    border: 0;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}

.reg:hover {
    opacity: 0.7;
}

.sec-head  {
    font-size: 40px;
    text-align: center;
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
} 

.col {
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,5);
    padding: 30px;

}

