{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&family=Work+Sans:wght@300;400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Crest Fest 2K22</title>
    <div class="header">
        <div class="logo">
            <img src="{% static 'img/clg_logo.png'%}"> 
        </div>
        <div class="nav">
            <ul>
                <li>Home</li>
                <li>Events</li>
                <li>About Us</li>
                <li>Login</li>
            </ul>            
        </div>
    </div>
    <div class="front">
    <div class="main-text">
        <h1 class="main">Crest Fest 2K22</h1>
        <p>  A Virtual Inter-College Tech Festival by PSG CAS.</br>
Department of Computer Science (UA)

Registration Starts on March 10th, 2021 </p>
<button class="reg">Register Now</button>
    </div>
    <div class="cfLogo">
        <img src="{% static 'img/cf_logo.png' %}">

    </div>
    </div>
    <section class="Events"> 
        <h1 class="sec-head">Events</h1>

        <div class="container">
            <div class="col">
                <h1>Event One</h1>
            </div>
            <div class="col">
                <h1>Event two</h1>
            </div>
            <div class="col">
                <h1>Event Three</h1>
            </div>
        </div>

    </section>
</div>
</head>
<body>
    
</body>
</html>